$fontCol: #393939;
$primaryCol: #00BFD8;

body,html{
    height: 100%;
}

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    color: $fontCol;
}

i{
    color:$primaryCol;
    margin-right: 1em;
}

ul{
    list-style:none;    
}

.body-main{
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em;
    margin:0 5% 0;
    background-color: transparent;

    .nav-logo{
        width: 15em;
        position: relative;

        img{
            position: absolute;
            top:50%;
            width: 7em;
            transform: translateY(-50%);
        }
    }

    .nav-ul{
        display: flex;
        justify-content: space-between;

        li{
            margin-left:1em;
        }

        li a{
            text-decoration: none;
            color: white;
            font-weight: 600;
        }

        li a:hover{
            color: $fontCol;
            transition: .3s all ease-in-out;
        }
    }

}

.hero-main{
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    margin-top: -11%;
    width: 100%;
    text-align: center;
    z-index:-1;
    background-size: cover;

    .turquoise{
        color:$primaryCol;
    }

    .hero-banner-container{
        padding: 10% 5% 5%;
        width: 85%;
        margin:0 auto;
    }

    p{
        overflow-wrap: break-word;
    }

    .main-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        column-gap: 4em;
        overflow:hidden;
        margin-top:5em;
    }

    .hero-text-container{
        display: flex;
    }

    .hero-text{
        font-size: 1em;
        height: 30em;
        width: 90%;
        margin: auto;
        margin-bottom:-5em;
        text-align:left;

        
        .hero-btn{
            padding: 1em 4em;
            background-color: $primaryCol;
            color:white;
            font-weight: 600;
            text-transform: uppercase;
            border: 2px solid $primaryCol;
            cursor: pointer;
            margin-top: 1em;
            border-radius:30px;
            margin-bottom: 4em;
        }

        .hero-btn:hover{
            border:2px solid $primaryCol;
            color: $primaryCol;
            transition: 0.3s ease-in-out;
            outline: none;
            background-color: rgba(0,0,0,0);
        }
    }


    .hero-image{
        display: flex;
        img{
            margin:auto;
            width: 100%;
        }
    }
}

.services-main{
    text-align:center;
    padding: 0 5% 7%;
    margin:0 auto;
    width: 85%;

    .services-text{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 3em;
    }

    .services-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        column-gap:3em;
        row-gap:3em;

        .card{
            border:1px solid rgba(0,0,0,.2);
            padding:15%;
            border-radius: 10px;

            p{
                font-size: .9em;
                line-height: 22px;
            }

            img{
                width: 7em;
            }
        }
    }
}

.design-main{
    padding:0 5% 8%;
    margin:0 auto;
    width: 85%;

    p{
        font-size: .9em;
    }

    .design-div-1, .design-div-2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        row-gap:2em;

        .design-image-container-1, .design-image-container-2{
            display: flex;

            img{
                margin:auto;
                width: 100%;
            }
        }
    }

    .design-div-1{
        padding-bottom: 4em;
    }

    .design-info-2{
        ul{
            list-style: none;
            line-height: 1.7em;
            padding: 0;
        }
    }

    .design-info-1, .design-info-2{
        display: grid;
        place-items: center;
        height: 100%;
        max-width: 100%;
        padding:5%;
        
        button{
            padding: 1em 3em;
            background-color: $primaryCol;
            color:white;
            font-weight: 600;
            text-transform: uppercase;
            border: 2px solid $primaryCol;
            cursor: pointer;
            margin-top: 1em;
            outline: none;
            border-radius:30px;
            margin-bottom: 4em;
        }

        button:hover{
            border: 2px solid $primaryCol;
            color: $primaryCol;
            outline: none;
            background-color: rgba(0,0,0,0);
            transition: 0.3s ease-in-out;
            outline: none;
        }

        .design-text, .design-text{
            margin: auto;
        }
    }
}

.pricing-main{
    padding:0 5% 8%;
    margin:0 auto;
    width: 85%;
    text-align: center;

    h1{
        text-transform: uppercase;
        font-size: 1.8em;
    }

    .pricing-cards{
        display:grid;
        margin-top: 3em;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        column-gap:3em;
        row-gap:3em;

        .pricing-card{
            border:1px solid rgba(0,0,0,.2);
            padding: 10%;
            border-radius: 10px;

            p{
                font-size:.9em;
            }

            .turquoise{
                color: $primaryCol;
                font-size: 2em;
            }

            .price{
                margin: 2em 0 2em;
                p{
                    margin-top: -1em;
                }
            }

            .perks{
                text-align:left;

                .perks-ul{
                    list-style: none;
                    line-height: 1.7em;


                    li{
                        font-size: .9em;
                    }
                }
            }

            button{
                padding: 1em 3em;
                background-color: $primaryCol;
                color:white;
                font-weight: 600;
                text-transform: uppercase;
                border: 2px solid $primaryCol;
                cursor: pointer;
                margin-top: 1em;
                outline: none;
                border-radius:30px;
                margin-bottom: 1em;
            }
    
            button:hover{
                border: 2px solid $primaryCol;
                color: $primaryCol;
                outline: none;
                background-color: rgba(0,0,0,0);
                transition: 0.3s ease-in-out;
                outline: none;
            }
        }
    }
}