$fontCol: #393939;
$primaryCol: #00BFD8;

body,html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    color: $fontCol;
}

ul{
    list-style:none;    
}

.body-main{
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em;
    margin:0 5% 0;
    background-color: transparent;

    .nav-logo{
        width: 15em;
        position: relative;

        img{
            position: absolute;
            top:50%;
            width: 7em;
            transform: translateY(-50%);
        }
    }

    .nav-ul{
        display: flex;
        justify-content: space-between;

        li{
            margin-left:1em;
        }

        li a{
            text-decoration: none;
            color: white;
            font-weight: 600;
        }

        li a:hover{
            color: $fontCol;
        }
    }

}

.hero-main{
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index:-1;
    background-size: cover;

    .turquoise{
        color:$primaryCol;
    }

    .hero-banner-container{
        padding: 10% 7% 10%;
        width:80%;
        margin:0 auto;
    }

    p{
        overflow-wrap: break-word;
    }

    .main-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        column-gap: 4em;
        overflow:hidden;
    }

    .hero-text-container{
        position: relative;
    }

    .hero-text{
        font-size: 1em;
        height: 30em;
        width: 90%;
        margin-bottom:-5em;
        text-align:left;

        .text-container-hero{
            position: absolute;
            transform: translateY(-50%);
            top:50%;
        }
        
        .hero-btn{
            padding: 1em 4em;
            background-color: $primaryCol;
            color:white;
            font-weight: 600;
            text-transform: uppercase;
            border: 1px solid $primaryCol;
            cursor: pointer;
            margin-top: 1em;
            border-radius:30px;
            margin-bottom: 4em;
        }

        .hero-btn:hover{
            border:2px solid $primaryCol;
            color: $primaryCol;
            transition: 0.3s ease-in-out;
            outline: none;
        }
    }


    .hero-image{
        img{
            width: 100%;
        }
    }

}

